#ControlsWrapper {
    width: 45%;
    float: left;
}

#DataWrapper {
    width: 45%;
    float: right;
    overflow-y: auto;
}

input[type="text"] {
    width: 80px;
}

#txtInsertName {
    width: 120px;
}

.UpdateControls input[type="text"] {
    width: 15em;
}

#txtInsertCourseDesc {
    width: 15em;
}